*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:#050505;
color:white;
overflow-x:hidden;

}


.particles{

position:fixed;
inset:0;
z-index:-1;

background:
radial-gradient(circle,#ffffff33 2px,transparent 3px);

background-size:80px 80px;

animation:move 20s linear infinite;

}


@keyframes move{

from{
background-position:0 0;
}

to{
background-position:500px 500px;
}

}



nav{

position:fixed;

top:20px;
left:50%;
transform:translateX(-50%);

width:90%;
max-width:900px;

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 25px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.1);

border-radius:20px;

z-index:10;

}



.nav-links a{

color:white;
text-decoration:none;

margin-left:20px;

}



.hero{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:120px 20px;

}



.card{

max-width:850px;

padding:60px;

text-align:center;

background:rgba(255,255,255,.06);

backdrop-filter:blur(20px);

border-radius:30px;

border:1px solid rgba(255,255,255,.1);

box-shadow:0 20px 50px #000;

}



.profile{

width:150px;

height:150px;

object-fit:cover;

border-radius:50%;

border:3px solid white;

margin-bottom:25px;

}



h1{

font-size:4rem;

}



h2{

font-size:2rem;

margin:40px 0 15px;

}



p{

color:#ddd;

line-height:1.8;

}



.button{

display:inline-block;

margin-top:25px;

padding:15px 30px;

background:white;

color:black;

border-radius:15px;

text-decoration:none;

font-weight:600;

transition:.3s;

}



.button:hover{

transform:translateY(-5px);

}



.email{

color:white;

}



footer{

margin-top:50px;

color:#777;

}



.fade{

opacity:0;

transform:translateY(40px);

transition:1s;

}



.fade.show{

opacity:1;

transform:none;

}